:root {
  --bgBeige: #faf8ef;
  --brun: #776e65;
  --tileYellow: #ddca7e;
  --tileGreen: #71964f;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf8ef;
  color: var(--brun);
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  min-height: 70px;
  border: 1px #d3d6da solid;
  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: 2rem;
  color: var(--brun);
}

#choose-lang {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

select {
  background-color: #fff;
  color: var(--brun);
  width: 80px;
  height: 30px;
  border-radius: 3px;
  font-family: "Roboto Slab", serif;
  margin-top: 5px;
  padding: 5px;
}
label {
  font-family: "Roboto Slab", serif;
  font-size: small;
}

h4 {
  font-family: "Roboto Slab", serif;
  display: block;
  position: absolute;
  left: 18rem;
}

h1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px var(--tileYellow);
  color: black;
}

.smallSection {
  text-align: center;
  width: 25%;
  font-size: 16px;
}

#newGame {
  z-index: 2;
  width: 200px;
  height: 40px;
  border: 1px #000 solid;
  background-color: var(--brun);
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  color: var(--bgBeige);
  text-shadow: 1px 1px black;
  font-family: "Roboto Slab", serif;
}

#result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 2px solid var(--brun);
  border-radius: 0.5rem;
  margin: 2px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

@-webkit-keyframes rotate-borders {
  25% {
    border-color: black cyan magenta yellow;
  }
  50% {
    border-color: yellow black cyan magenta;
  }
  75% {
    border-color: magenta yellow black cyan;
  }
  100% {
    border-color: cyan magenta yellow black;
  }
}

@keyframes rotate-borders {
  25% {
    border-color: black cyan magenta yellow;
  }
  50% {
    border-color: yellow black cyan magenta;
  }
  75% {
    border-color: magenta yellow black cyan;
  }
  100% {
    border-color: cyan magenta yellow black;
  }
}

.missing-letter {
  -webkit-animation: rotate-borders 2s infinite;
  animation: rotate-borders 2s infinite;
}

.letter-row {
  display: flex;
}

#result,
#soluce {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  text-shadow: 2px 2px var(--tileYellow);
  color: black;
}

main {
  height: 80 vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#rules {
  font-family: "Roboto Slab", serif;
  display: block;
  text-align: left;
  margin: auto;
}
#rules ul {
  list-style: none;
}

footer {
  height: 10vh;
  line-height: 60px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

#repo {
  margin-left: 1rem;
}

a {
  color: var(--brun);
  text-decoration: none;
}

@media (max-width: 768px) {
  #choose-lang {
    display: none;
    width: 0px;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
  }
  h1 {
    position: sticky;
    width: auto;
  }
  #newGame {
    z-index: 2;
    width: 100px;
    height: 40px;
    font-weight: 500;
  }

  h4 {
    position: sticky;
    display: none;
  }
}
